pyyaml
aiofiles
fastapi
starlette
pydantic
opencv-python
numpy
chromadb
ultralytics
Pillow
datetime
uvicorn
passlib==1.7.4
python-multipart
pydantic[email]
qdrant-client
psycopg2-binary
#pymilvus
websockets
httpx
langchain 
langchain-ollama 
#jwt
python-dotenv
apscheduler
xgboost
anyio
#smtplib
#aiosmtplib
#sqlite3
asyncpg
pyotp
langchain_community
PyJWT
