pyyaml
aiofiles
fastapi
starlette
pydantic
opencv-python-headless==4.8.1.78
chromadb
ultralytics==8.4.7
Pillow
datetime
uvicorn
passlib==1.7.4
python-multipart
pydantic-settings
pydantic[email]
qdrant-client
psycopg2-binary
websockets
httpx
aiohttp
langchain
langchain-ollama
langchain_community
langchain-core
python-dotenv
xgboost
anyio
asyncpg
pyotp
PyJWT
tenacity
apscheduler
pytest-mock
pytest-tornasync
pytest-trio
pytest-twisted
pytest
pytest-asyncio
pytest-cov
pandas
elasticsearch
argon2-cffi
celery[redis]==5.3.4
redis==4.6.0
celery[asyncio]==5.3.4
kombu==5.3.4
hiredis==2.2.3
loguru
twisted
onnxruntime-gpu==1.23.2
onnxslim>=0.1.71
openvino==2024.0.0
openvino-dev==2024.0.0
# torch, torchvision, torchaudio installed via Dockerfile with cu121
# tensorrt installed via Dockerfile as tensorrt-cu12
#tensorrt==10.15.1.29
#pycuda>=2022.1
numpy==1.26.4